<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expenses</title>
  </head>
  <body>
    <form onsubmit="handleOnSubmit(event)">
      <label for="price">Price</label><br />
      <input type="number" name="price" id="price" /><br /><br />
      <label for="description">Description</label><br />
      <input type="text" name="description" id="description" /><br /><br />
      <label for="category">Category</label>
      <select name="category" id="category">
        <option value="food">Food</option>
        <option value="fuel">Fuel</option>
        <option value="books">Books</option>
        <option value="movie">Movie</option></select
      ><br /><br />

      <button type="submit">Add Expense</button>
    </form>

    <p id="message"></p>
    <br /><br />

    <hr />

    <h1>Here is the list of expenses</h1>
    <ul id="expenses-list"></ul>

    <p id="del-msg"></p>

    <script src="/js/expenses.js"></script>
  </body>
</html>
